pipeline/Spot.json
{
	"name": "Spot",
	"properties": {
		"activities": [
			{
				"name": "GetMontelToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.montelnews.com/gettoken",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=password&username=api_forvent1&client_id=f1535c2a-9148-472b-ba2a-674a368707d3&password=monteldata"
				}
			},
			{
				"name": "SetMontelAuthToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetMontelToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MontelAuthToken",
					"value": {
						"value": "@activity('GetMontelToken').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get JSON",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetMontelAuthToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.montelnews.com:443/spot/getprices?spotKey=6&fields=Hours&fields=Base&fromDate=2022-01-01&toDate=2022-05-11&currency=EUR&sortType=Ascending",
					"method": "GET",
					"headers": {
						"Authorisation": {
							"value": "@{concat('Bearer ', activity('GetMontelToken').output.access_token)}",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}